#root {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #222222;
}

.monitor {
  margin: 0 auto;
  padding: 1rem;
  font-size: 0.8rem;
  max-width: 45rem;
}

.box {
  padding: 1rem;
  margin-bottom: 1.5rem;
  overflow-x: auto;
  background: #181818;
  border-radius: 0.5rem;
}

h2 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}

td {
  vertical-align: top;
  white-space: nowrap;
}

td+td,
th+th {
  padding-left: 1rem;
}

th {
  font-weight: bold;
  text-align: left;
}

@media (prefers-color-scheme: light) {
  header {
    border-bottom-color: #ccc;
  }

  .box {
    background: #eee;
  }
}
